
/******* Articles show *******/

#post_show_content {
  header {
    text-align: center;
    .date {
      font-size: 0.9em;
      color: $light;
      margin: 0;
    }
    h1 {
      margin: 0;
    }
  }

  hr {
    margin: 3em auto;
  }
}

#share_box {
  text-align: center;
  p {
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: 0.8em;
  }
  a {
    text-decoration: none;
  }
  span {
    padding: 1em 1.5em;
    &:hover {
      cursor: pointer;
    }
    &.facebook {
      color: $facebook;
      &:hover {
        color: $facebook-hover;
      }
    }
    &.twitter {
      color: $twitter;
      &:hover {
        color: $twitter-hover;
      }
    }
    &.google-plus {
      color: $googleplus;
      &:hover {
        color: $googleplus-hover;
      }
    }
  }
}