
/******* Home page *******/

.profile {
  padding: 1.5rem 5% 0;
  img {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 3.5em;
  }
  h2 {
    display: inline;
    position: relative;
    bottom: 0.5em;
  }
}

.col-1,
.col-2, 
.col-3 {
  float: left;
}

.col-1 {
  width: 45%;
  padding: 0 5% 0 2.5%;
}

.col-2,
.col-3 {
  width: 27.5%;
  padding: 0 2.5%;
}

.homepage_content {
  h2 {
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: 0.5em;
  }
  a {
    text-decoration: none;
    color: $dark;
    &:hover {
      color: $highlight;
    }
  }
  .date {
    font-size: 0.85em;
    margin-bottom: 2em;
    color: $light;
  }
  p {
    margin: 0 0 0.75em 0;
  }
  .see_more_button {
    padding-top: 1em;
    a {
      border-color: $highlight;
      color: $highlight;
      transition: all 200ms;
      &:hover {
        background: $highlight;
        color: $white;
      }
    }
  }
}

.about {
  padding: 0 7.5% 0 0;
  a {
    color: $highlight;
    font-weight: 700;
    text-decoration: none;
  }
}

