<h1 id="page_title">Stuff I've written</h1>


<div id="posts_wrapper" class="skinny_wrapper">
  <% @articles.each do |article| %>
    <div class="post">
      <p class="date"><%= article.created_at.strftime("%A, %b %d") %></p>
      <h2><%= link_to article.title.titleize, article %></h2>
      <hr>
    </div>
  <% end %>

</div>

<%= will_paginate @articles %>




































