<div id="post_show_content" class="skinny_wrapper wrapper_padding">
  <header>
    <p class="date">Friday April 10th</p>
    <h1>The Do List</h1>
    <hr>
  </header>

  <div id="content">
    <h2>Some content</h2>
    <p>Vegan lomo bicycle rights Pitchfork. Skateboard mixtape kogi retro try-hard. Sustainable hashtag whatever leggings, polaroid viral pug. Jean shorts shabby chic messenger bag taxidermy Tumblr, distillery whatever Truffaut crucifix paleo Pinterest direct trade. Brunch farm-to-table put a bird on it wayfarers cred chambray, cardigan Marfa gluten-free banh mi XOXO crucifix ethical. Viral VHS 90's Pinterest gastropub roof party, flannel cronut actually tousled Shoreditch freegan cold-pressed taxidermy. Shabby chic plaid viral, sartorial messenger bag meh PBR.</p>

<p>Pug squid raw denim, banh mi biodiesel hoodie Thundercats Austin artisan Tumblr Echo Park tofu cred four loko fanny pack. Leggings plaid art party freegan, PBR&B irony whatever four loko twee lumbersexual yr biodiesel tousled single-origin coffee Pinterest. Umami bespoke biodiesel quinoa chambray four dollar toast vegan High Life trust fund, fixie chillwave pickled. Yr health goth put a bird on it Austin Tumblr, PBR&B hoodie fanny pack art party cold-pressed gentrify Vice. Organic tattooed health goth, lumbersexual mixtape skateboard you probably haven't heard of them banjo Vice dreamcatcher street art. Wolf wayfarers literally, pop-up meggings keffiyeh freegan PBR. Pug twee aesthetic 8-bit, selfies polaroid scenester retro irony drinking vinegar.</p>
  </div>

  <hr>

  <div id="share_box">
    <p>Share the Do list</p>
    <a href=""><span class="icon-facebook2"></span></a>
    <a href=""><span class="icon-twitter"></span></a>
    <a href=""><span class="icon-google-plus"></span></a>
  </div>

  <hr>
</div>

