<h1 id="page_title">All Screencasts</h1>

<div id="posts_wrapper" class="skinny_wrapper">
  <% if @screencasts.empty? %>
    <h3 class="center">Screencasts coming soon!</h3>
  <% end %>
  <% @screencasts.each do |screencast| %>
    <div class="post">
      <p class="date"><%= screencast.created_at.strftime("%A, %b %d") %></p>
      <h2><%= link_to screencast.title, screencast %></h2>
      <hr>
    </div>
  <% end %>
</div>

<%= will_paginate @screencasts %>
