
/******* Header *******/
#main_navigation {
  padding: 2em 5%;
  border-bottom: 1px solid $border;
  background: $ken-ruby;
  .name {
    background: $white;
    font-weight: 700;
    font-size: 0.8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid $border;
    padding: 1rem;
    text-decoration: none;
    color: $dark;
    float: left;
  }
  nav {
    float: right;
    padding-top: 1.3rem;
    a {
      color: $white;
      text-decoration: none;
      margin: 0 0.5rem;
      font-size: 1rem;
      padding: 0.5rem 0.8rem;
      border-radius: 30px;
      transition: all 250ms;
      &:hover {
        background: rgb(210, 70, 49);
      }
    }
  }
}



/******* footer *******/ 


.page_wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -2em; 
}
.page-wrap:after {
  content: "";
  display: block;
}

#main_footer, .page-wrap:after {
  height: 2em;
}

#main_footer {
  padding: 2.5em 5%;
  border-top: 1px solid $border;
  background: $border;
  .copyright {
    font-size: 0.9em;
    float: left;
    margin: 0;
  }
  nav {
    float: right;
    a {
      text-decoration: none;
      span {
        color: $dark;
        margin-left: 1em;
        padding-top: 0.2em;
        font-size: 1.5em;
        transition: all 200ms;
        &:hover {
          color: $ken-ruby;
        }
      }
    }
  }
}