<footer id="main_footer">
  <p class="copyright">&copy; 2015 Ken Hibino</p>
  <nav>
    <a href="https://twitter.com/Hibino7Ken" target="_blank"><span class="icon-twitter"></span></a>
    <a href="https://github.com/kenny-hibino" target="_blank"><span class="icon-github2"></span></a>
    <a href="https://plus.google.com/117746327460617644587/posts" target="_blank"><span class="icon-google-plus"></span></a>
  </nav>
</footer>