<header id="main_navigation" class="clearfix">
  <%= link_to "Ken Hibino", root_path, class: "name" %>
  <nav>
    <%= link_to "Articles", articles_path %>
    <a href="#">Projects</a>
    <%= link_to "Contact", contact_path %>
  </nav>
</header>